.theme-dark,
:root {
    --background-primary: #181818 !important;
    --background-secondary: #1d1d1d !important;
    --background-tertiary: #181818 !important;
    --background-text-area: #292929 !important;
    --background-floating: #1f1f1f !important;
    --scrollbar-auto-track: rgb(41, 41, 41);
    --scrollbar-auto-thumb: rgb(77, 77, 77);
    --container-hover: rgb(58, 58, 58);
    --container-active: rgb(83, 83, 83);
    --container-avatar: rgb(39, 39, 39);
    --layout-selected: rgba(79, 84, 92, 0.32);
    --searchBar-hover: rgb(58, 58, 58);
    --searchBar-open: rgb(58, 58, 58);
    --scroller: rgb(34, 34, 34);
    --spoilerText: rgb(39, 39, 39);
    --spoilerText-hover: rgb(54, 54, 54);
    --uploadModal: #1f1f1f;
    --footer: #292929;
    --selected-hover: #303030;
    --selected-active: #4b4b4b;
    --expandedFolder: #2b2b2b;
    --closedFolder: #2b2b2b;
    --closedFolderIconWrapper: #424242;
    --peopleList: #272727;
    --actionButton-hover: rgb(70, 70, 70);
    --feature-hover: rgb(58, 58, 58);
    --childWrapper: #303030;
    --searchBarCom-hover: rgb(51, 51, 51);
    --expandedFolderIcon: #2b2b2b;
    --expandedFolderIconWrapper-hover: #3f3f3f;
    --body-footer: #1f1f1f;
    --headerTop: #181818;
    --The-272727: #272727;
    --The-181818: #181818;
    --text-area-focus: #141414;
    --lookFilled-colorBrand: rgb(29, 29, 29);
    --lookFilled-colorBrand-hover: rgb(75, 75, 75);
    --colorPrimary: #525252;
    --colorPrimary-hover: rgb(59, 59, 59);
    --lookOutlined: #414141;
    --The-292929: #292929;
    --The-555555: #555555;
    --The-161616: #161616;
    --perk-hover: rgb(65, 65, 65);
    --perk-active: rgb(46, 46, 46);
    --lookFilled-disabled: rgb(24, 24, 24);
    --connectedAccount-hover: rgb(56, 56, 56);
    --circleIconButton-selected: rgb(66, 66, 66);
    --circleIconButton-active: rgb(122, 122, 122);
    --The-82: rgb(82, 82, 82);
    --The-58: rgb(58, 58, 58);
    --The-126: rgb(126, 126, 126);
    --subtitle: rgb(163, 163, 163);
    --The-59: rgb(59, 59, 59);
    --The-83: rgb(83, 83, 83);
    --The-163: rgb(163, 163, 163);
    --The-102: rgb(102, 102, 102);
    --The-94: rgb(94, 94, 94);
    --childWrapper-anI2G9: rgb(124, 124, 124);
    --The-92: rgb(92, 92, 92);
    --The-85: rgb(85, 85, 85);
    --The-49: rgb(49, 49, 49);
    --The-48: rgb(48, 48, 48);
    --The-34: rgb(34, 34, 34);
    --ToolTip: rgb(51, 51, 51);
}
.theme-dark .scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-text-area);
    max-height: 50vh;
    border-radius: 4px;
    scrollbar-width: none;
    transition: all 0.2s;
}
.theme-dark .scrollableContainer-2NUZem:hover {
    background-color: var(--container-hover);
}
.theme-dark .scrollableContainer-2NUZem:active {
    background-color: var(--container-active);
}
.theme-dark .message-2qnXI6.selected-2P5D_Z .buttons-cl5qTG, .mouse-mode .message-2qnXI6:hover .buttons-cl5qTG {
    opacity: 2;
    pointer-events: auto;
}
.theme-dark .container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: var(--container-avatar);
}
.theme-dark .selected-aXhQR6 .layout-2DM8Md {
    background-color: var(--layout-selected);
    border-radius: 4px;
}
.theme-dark .clickable-1JJAn8:hover .layout-2DM8Md {
    background-color: var(--background-modifier-hover);
    cursor: pointer;
    border-radius: 4px;
}
.theme-dark .searchBar-3dMhjb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 24px;
    width: 144px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    color: var(--text-normal);
    background-color: var(--background-text-area);
}
.theme-dark .searchBar-3dMhjb:hover{
    background-color: var(--searchBar-hover);
}
.theme-dark .focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb{
    width: 240px;
    background-color: var(--searchBar-open);
}

.theme-dark .item-2hkk8m {
    position: absolute;
    display: block;
    width: 8px;
    border-radius: 6px 4px 4px 6px;
    margin-left: -4px;
    background-color: var(--header-primary);
}
.theme-dark .scroller-3BxosC {
    padding: 6px 8px;
    background-color: var(--scroller);
    border-radius: 4px;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: var(--spoilerText) !important;
    transition: all 0.2s;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover {
    background-color: var(--spoilerText-hover) !important;
}
.theme-dark .theme-dark .uploadModal-2ifh8j {
    background-color: var(--uploadModal);
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}
.theme-dark .footer-3mqk7D {
    background-color: var(--footer);
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
}
.theme-dark .selected-1Tbx07 {
    background-color: var(--background-text-area);
    transition: all 0.2s;
}
.theme-dark .autocompleteInner-zh20B_ {
    padding-bottom: 8px;
    background-color: var(--background-primary);
}
.theme-dark .selected-1Tbx07:hover{
    background-color: var(--selected-hover);
}
.theme-dark .selected-1Tbx07:active{
    background-color: var(--selected-active);
}
.theme-dark .expandedFolderBackground-1cujaW {
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 8px;
    width: 48px;
    border-radius: 24px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: var(--expandedFolder);
}
.theme-dark .closedFolderIconWrapper-2sTcE6 {
    width: 48px;
    height: 48px;
    padding: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    background-color: var(--closedFolder);
    grid-template: 1fr 1fr/1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.theme-dark .closedFolderIconWrapper-2sTcE6:hover{
    background-color: var(--closedFolderIconWrapper);
}
.theme-dark .peopleList-3c4jOR {
    padding-bottom: 8px;
    background-color: var(--peopleList);
}
.theme-dark .actionButton-uPB8Fs{
    transition: all 0.2s;
    transform: scale(1);
}
.theme-dark .actionButton-uPB8Fs:hover{
    transform: scale(1.1);
    background-color: var(--actionButton-hover);
}
.theme-dark .feature-2w65J5 {
    background-color: var(--background-secondary-alt);
    transition: all 0.2s;
}
.theme-dark .feature-2w65J5:hover {
    background-color: var(--feature-hover);
}
.theme-dark .profileBadge-2niAfJ {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    cursor: pointer;
    width: 24px;
    transition: all 0.2s;
    height: 24px;
}
.theme-dark .profileBadge-2niAfJ:hover {
    transform: scale(0.8);
}
.theme-dark .closeButton-1tv5uR {
    border-color: #72767d;
}
.theme-dark .closeButton-1tv5uR:hover {
    background-color: rgb(248, 54, 54);
    border-color: rgb(248, 54, 54);
}
.theme-dark .childWrapper-anI2G9 {
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    background-color: var(--childWrapper);
    color: var(--text-normal);
}
.theme-dark .embedSuppressButton-1FonMn {
    opacity: 0;
    position: absolute;
    top: -2px;
    right: -20px;
    cursor: pointer;
    padding: 2px;
    color: var(--interactive-normal);
}
.theme-dark .embedSuppressButton-1FonMn:hover{
    color: red;
}
.theme-dark .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    width: 100%;
    height: 28px;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--background-text-area);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--text-muted);
    text-align: left;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.2s;
    white-space: nowrap;
}
.theme-dark .searchBar-6Kv8R2 .searchBarComponent-32dTOx:hover{
    background-color: var(--searchBarCom-hover);
}

.theme-dark .input-2VB9rf {
    background: transparent;
    background-color: #2929295e;
    color: var(--text-normal);
}
.scroller-zPkAnE{
    background: transparent;
}
.backdrop-1wrmKB{
    opacity: .8 !important;
}
.theme-dark .quickswitcher-3JagVE {
    opacity: 0.9;
    backdrop-filter: blur(12px);
    display: flex;
    background-color: var(--background-secondary);
    background: transparent;
    color: var(--text-normal);
}

.theme-dark .expandedFolderIconWrapper-Huv7rA {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--expandedFolderIcon);
}
.theme-dark .expandedFolderIconWrapper-Huv7rA:hover{
    background-color: var(--expandedFolderIconWrapper-hover);
}
.theme-dark .closeIcon-rycxaQ:hover {
    color: red;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
    background-color: var(--body-footer);
}
.theme-dark .headerTop-3C2Zn0 {
    background-color: var(--headerTop);
}
.activity-11LB_k{
    background-color: var(--The-272727);
}
.activity-1ythUs{
    background-color: var(--The-272727);
}
.header-QKLPzZ{
    background-color: var(--The-181818);
}
.tabBarContainer-1s1u-z{
    background-color: var(--The-272727);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    color: rgb(161, 161, 161);
    border-color: var(--The-272727);
    background-color: var(--The-181818);
}
.textarea-2r0oV8:hover{
    background-color: var(--The-272727);
}
.textarea-2r0oV8:focus{
    background-color: var(--text-area-focus);
}
.withFrame-haYltI {
    height: 21px;
    margin-top: 4px;
}
.winButton-iRh8-Z {
    position: relative;
    top: -4px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    pointer-events: auto;
    -webkit-app-region: no-drag;
}
.modalContent-1T1Tix{
    background-color: var(--background-primary);
}
.theme-dark .footer-2gL1pp{
    background-color: var(--background-text-area);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #fff;
    background-color: var(--lookFilled-colorBrand);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    color: #fff;
    background-color: var(--lookFilled-colorBrand-hover);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    color: #fff;
    background-color: rgb(28, 207, 28);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #f6f6f7;
    background-color: var(--colorPrimary);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    color: #f6f6f7;
    background-color: var(--colorPrimary-hover);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active {
    color: #f6f6f7;
    background-color: rgb(238, 54, 54);
}
.actionIcon-PgcMM2 {
    color: var(--interactive-normal);
    transition: all 0.1s;
}
.actionIcon-PgcMM2:active{
    color: rgb(69, 108, 235);
}
.scroller-2hZ97C{
    background-color: var(--background-secondary);
}
.theme-dark .separator-2-RRj_{
    background-color: var(--background-text-area);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: #fff;
    border-color: var(--lookOutlined);
    transition: all 0.1s;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #fff;
    border-color: var(--The-292929);
    background-color: var(--The-292929);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    color: #fff;
    border-color: var(--The-292929);
    background-color: var(--The-555555);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
    color: #fff;
    border-color: var(--The-292929);
    background-color: var(--The-161616);
}
.close-hZ94c6 {
    height: 26px;
    padding: 4px;
    opacity: .5;
    cursor: pointer;
    border-radius: 3px;
    color: var(--interactive-normal);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.close-hZ94c6:hover{
    color: rgb(248, 54, 54);
}
.settingsContent-3Pxg5D{
    background-color: var(--background-primary);
}
.header-1TKi98{
    background-color: var(--background-text-area);
}
.content-1LAB8Z{
    background-color: var(--background-primary);
}
.perksModalContentWrapper-2HU6uL{
    background-color: var(--background-text-area);
}
.theme-dark .perksModal-fSYqOq {
    background-image: url(/assets/c486dc6….svg);
    background-color: var(--background-text-area);
}
.theme-dark .perk-2WeBWW{
    background-color: var(--background-tertiary);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.theme-dark .perk-2WeBWW:hover{
    background-color: var(--perk-hover);
    transform: scale(1.1);
}
.theme-dark .perk-2WeBWW:active{
    background-color: var(--perk-active);
    transform: scale(1);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled{
    background-color: var(--lookFilled-disabled);
}
.theme-dark .errorState-KkUH_2{
    background-color: var(--background-primary);
}
.noResults-ZTbl5V, .scroller-hUf6zQ{
    background-color: var(--background-secondary);
}
.footer-1eyGBa{
    background-color: var(--background-text-area);
}
.container-1giJp5{
    background-color: var(--background-text-area);
}
.quickSelectPopoutOption-opKBx9{
    background-color: var(--background-text-area);
}
.root-217Brm{
    background-color: var(--background-secondary);
}
.colorable-1bkp8v.red-33-Lnk.active-1QRrIS, .colorable-1bkp8v.red-33-Lnk:hover{
    background: rgb(158, 28, 28);
}
.unread-2lAfLh {
    position: absolute;
    height: 31px;
    width: 3px;
    border-radius: 4px 14px 14px 4px;
    top: 14%;
    left: 0px;
    margin-top: -4px;
}
.unread-2lAfLh{
    background-color: #7289DA;
}
.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE{
    color: #7289DA;
}
.modeConnected-3IsKId:hover .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId:hover .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90:hover .name-23GUGE{
    color: #c1cefd;
}
.modeSelected-346R90 .name-23GUGE{
    color: #fff;
}
.unreadMentionsBar-1Bu1dC{
    background-color: #7289DA;
}
.unreadMentionsBar-1Bu1dC:active{
    background-color: #849fff;
}
.connectedAccount-36nQx7{
    transition: all 0.1s;
}
.connectedAccount-36nQx7:hover{
    background-color: var(--connectedAccount-hover);
}
.resultsGroup-r_nuzN{
    background-color: var(--background-text-area);
}
.theme-dark .option-96V44q:after {
    background: var(--background-text-area);
}
.emojiSection-3Fb9ix{
    background: var(--background-text-area);
}
.guildSection-1EoFKd{
    background: var(--background-secondary);
}
.circleIconButton-1QV--U{
    color: rgb(148, 148, 148);
    background: var(--background-secondary);
}
.circleIconButton-1QV--U.selected-1JjBPm {
    color: #fff;
    background-color: var(--circleIconButton-selected);
}
.circleIconButton-1QV--U:active{
    background-color: var(--circleIconButton-active);
}
.scroller-1d5FgU{
    background-color: var(--background-text-area);
}
.search-1iTphC .searchBox-2_mAlO{
    background-color: var(--background-text-area);
}
.theme-dark .card-3DjzTQ, .theme-dark .iconMask-3b8GzQ{
    background-color: var(--background-secondary);
}
.content-1LAB8Z{
    background-color: var(--background-text-area);
}
.footerTitle-2CYZch{
    color: #fff;
}
.container-UC8Ug1:hover{
    background-color: var(--The-82);
}
.container-UC8Ug1{
    background-color: var(--The-58);
}
.text-1FOLJS{
    color: #fff;
}
.container-UC8Ug1:active{
    background-color: var(--The-126);
}
.title-3w8xhj{
    color: #fff;
}
.subtitle-Nw1LLR{
    color: var(--subtitle);
}
.templatesList-2E6rTe{
    margin-top: -1px;
}
.content-1LAB8Z{
    border-radius: 0;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV{
    color: #fff;
    background-color: var(--The-59);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover{
    background-color: var(--The-83);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:active{
    background-color: rgb(15, 85, 15);
}
.optionsList-3UMAjx {
    margin-top: 0px;
    padding: 0 16px 8px;
}
.title-LqAd9K{
    color: #fff;
}
.subtitle-1Q3BuX{
    color: var(--The-163);
}
.skip-2o6MGG{
    color: var(--The-163);
}
.backButton-iA7KIs{
    color: #fff;
}
.footer-2gL1pp {
    border-radius: 0 0 0px 0px;
}
.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--background-primary);
    color: #fff;
}
.colorDefault-2K3EoJ.focused-3afm-j:active {
    background-color: var(--background-text-area);
    color: #fff;
}
.colorDefault-2K3EoJ.focused-3afm-j:focus {
    background-color: var(--background-text-area);
    color: #fff;
}
.powercord-toast .header{
    background-color: var(--background-primary) !important;
}
.powercord-toast .contents{
    background-color: var(--background-primary) !important;
    border-radius: 0% !important;
}
.powercord-toast .buttons{
    background-color: var(--background-primary);
}
.powercord-toast .contents .inner{
    background-color: var(--background-tertiary) !important;
}
.powercord-toast .buttons button[class*=lookGhost-]{
    background-color: var(--background-text-area);
    color: #fff;
}
.powercord-toast .buttons button[class*=lookGhost-]:active{
    background-color: #7289DA;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:hover{
    background-color: rgba(28, 207, 28, 0.103);
    border-color: rgb(20, 148, 20);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:active{
    background-color: rgb(28, 207, 28);
    border-color: rgb(20, 148, 20);
}
.powercord-toast .header .dismiss{
    transition: 0s !important;
}
.powercord-toast .header .dismiss:hover{
    color: rgb(238, 54, 54);
}
.topSectionPlaying-1J5E4n{
    background: var(--The-181818);
}
.theme-dark .option-96V44q.selected-rZcOL-{
    background-color: var(--background-primary);
}
.theme-dark .option-96V44q.selected-rZcOL-:after{
    background: var(--background-primary);
}
.clear-1pMieT.iconLayout-1WxHy4:hover .icon-3cZ1F_:hover{
    color: rgb(238, 54, 54);
}
.headerPlaying-j0WQBV{
    background: var(--The-181818);
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus{
    border-color: var(--The-102);
}
.botTagRegular-2HEhHi{
    background: var(--The-94);
}
.uploadModal-2ifh8j .inner-3nWsbo{
    background-color: var(--background-primary);
}
.theme-dark .uploadModal-2ifh8j{
    background-color: var(--background-primary);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
    background-color: var(--childWrapper-anI2G9);
}
.inspector-3LQtX9{
    background-color: var(--background-secondary) !important;
}
.barButtonBase-2uLO1z{
    background-color: var(--background-secondary);
}
.jumpToPresentBar-G1R9s6{
    background-color: var(--background-secondary);
}
.botTagInvert-18-95s{
    color: #fff;
    background: var(--The-94);
}
.theme-dark .queryContainer-RKFJW-{
    background-color: var(--background-text-area);
}
.theme-dark .queryContainer-RKFJW-:hover{
    background-color: var(--background-secondary);
}
.theme-dark .tooltipPrimary-1d1ph4 .tooltipPointer-3ZfirK{
    border-top-color: var(--ToolTip) !important
}
.tooltip-2QfLtc{
    background-color: var(--ToolTip) !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker{
    background-color: var(--background-text-area);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw{
    background-color: var(--background-text-area);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after{
    background-color: var(--background-text-area);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover{
    background-color: var(--The-92);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z{
    background-color: var(--background-primary);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover{
    background-color: var(--The-85);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month{
    background-color: var(--background-text-area);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name{
    background-color: var(--background-text-area);
}
.theme-dark .datePicker--XZbmJ{
    background-color: var(--background-text-area);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header{
    background-color: var(--background-text-area);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover{
    background-color: var(--The-49);
}
.scroller-3__pG8{
    background-color: var(--background-text-area);
}
.unreadBottom-1_LF_w .unreadBar-3t3sYc{
    background-color: var(--The-48);
}
.section-2gLsgF{
    background-color: var(--The-34);
}
.friendsEmpty-1K9B4k, .addInputWrapper-1BOZ3d, .bar-AokMp3, .css-rzbxvl-option{
    background-color: var(--The-34);
}
.noiseCancellationPopout-iRK2A0, .scroller-3gAZL{
    background-color: var(--background-primary);
}
.sourceScroller-Pk7YAM, .theme-dark .container-OI6I9q, .theme-dark .root-1gCeng,.root-2VTZPJ, .css-3vaxre-menu,.theme-dark .container-2x5lvQ section, .theme-dark .container-2x5lvQ .header-2C89wJ {
    background-color: var(--background-text-area);
}
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng{
    color: #fff;
}
.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover{
    background-color: var(--background-text-area);
}
.emojiSection-3Fb9ix img {
    margin: auto;
    min-width: 80%;
    height: auto !important;
}
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix{
    flex: wrap;
    flex-direction: column !important;
}
.emojiName-27Bjxw {
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}
.fa-wrench:before{
    color: var(--The-555555);
}
/* Transparent Settings Screen */
.layers-3iHuyZ>.layer-3QrUeG:first-child{
    transform: scale(1) !important;
    opacity: 1 !important;
}
.layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{
    background-color: rgba(0, 0, 0, 0.5)!important;
    backdrop-filter: blur(10px);
}
.contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP{
    background: transparent;
}
/* Transparent Settings Screen End */
.accountList-33MS45{
    background-color: rgba(51, 51, 51, 0.582);
}
.connectionHeader-2MDqhu{
    background-color: rgba(51, 51, 51, 0.582);
}
.scroller-305q3I{
    background: transparent;
}
/* Server settings - Emoji Hover */
.theme-dark .card-FDVird:before {
    background-color: #00000062;
    border-color: #272727;
}
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse{
    background-color: var(--background-primary);
}
/* Server settings - Emoji Hover End */

/* Server Boosting Settings */
.theme-dark .tierBody-x9kBBp {
    background-color: #2727273a;
    color: #b9bbbe;
}
.tierHeaderContent-2-YfvN{
    background-color: #2c2c2c;
}
/* Server Boosting Settings */

/* Reactions Box */
.reactors-Blmlhw{
    background-color: var(--background-primary) !important;
}
.theme-dark .scroller-1-nKid{
    background: var(--background-secondary);
}
/* Reactions Box End */

/* Reactions Buttons */
.reaction-1hd86g.reactionMe-wv5HKu{
    background-color: rgb(80, 80, 80) !important;
}
.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV{
    color: var(--background-tertiary);
}
/* Reactions Buttons End */
