.theme-dark,
:root {
  --background-primary: #181818 !important;
  --background-secondary: #1d1d1d !important;
  --background-tertiary: #181818 !important;
  --background-text-area: #292929 !important;
}
.theme-dark .scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-text-area);
    max-height: 50vh;
    border-radius: 4px;
    scrollbar-width: none;
    transition: all 0.2s;
}
.theme-dark .scrollableContainer-2NUZem:hover {
    background-color: rgb(58, 58, 58);
}
.theme-dark .scrollableContainer-2NUZem:active {
    background-color: rgb(83, 83, 83);
}
.theme-dark .message-2qnXI6.selected-2P5D_Z .buttons-cl5qTG, .mouse-mode .message-2qnXI6:hover .buttons-cl5qTG {
    opacity: 2;
    pointer-events: auto;
}
.theme-dark .container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: rgb(39, 39, 39);
}
.theme-dark .selected-aXhQR6 .layout-2DM8Md {
    background-color: rgba(79, 84, 92, 0.32);
    border-radius: 4px;
}
.theme-dark .clickable-1JJAn8:hover .layout-2DM8Md {
    background-color: var(--background-modifier-hover);
    cursor: pointer;
    border-radius: 4px;
}
.theme-dark .searchBar-3dMhjb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 24px;
    width: 144px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    color: var(--text-normal);
    background-color: var(--background-text-area);
}
.theme-dark .searchBar-3dMhjb:hover{
    background-color: rgb(58, 58, 58);
}
.theme-dark .focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb{
    width: 240px;
    background-color: rgb(58, 58, 58);
}

.theme-dark .item-2hkk8m {
    position: absolute;
    display: block;
    width: 8px;
    border-radius: 6px 4px 4px 6px;
    margin-left: -4px;
    background-color: var(--header-primary);
}
.theme-dark .scroller-3BxosC {
    padding: 6px 8px;
    background-color: rgb(34, 34, 34);
    border-radius: 4px;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: rgb(39, 39, 39) !important;
    transition: all 0.2s;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover {
    background-color: rgb(54, 54, 54) !important;
}
.theme-dark .theme-dark .uploadModal-2ifh8j {
    background-color: #1f1f1f;
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}
.theme-dark .footer-3mqk7D {
    background-color: #292929;
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
}
.theme-dark .selected-1Tbx07 {
    background-color: var(--background-text-area);
    transition: all 0.2s;
}
.theme-dark .autocompleteInner-zh20B_ {
    padding-bottom: 8px;
    background-color: var(--background-primary);
}
.theme-dark .selected-1Tbx07:hover{
    background-color: #303030;
}
.theme-dark .selected-1Tbx07:active{
    background-color: #4b4b4b;
}
.theme-dark .expandedFolderBackground-1cujaW {
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 8px;
    width: 48px;
    border-radius: 24px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #2b2b2b;
}
.theme-dark .closedFolderIconWrapper-2sTcE6 {
    width: 48px;
    height: 48px;
    padding: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    background-color: #2b2b2b;
    grid-template: 1fr 1fr/1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.theme-dark .closedFolderIconWrapper-2sTcE6:hover{
    background-color: #424242;
}
.theme-dark .peopleList-3c4jOR {
    padding-bottom: 8px;
    background-color: #2b2b2b;
}
.theme-dark .actionButton-uPB8Fs:hover{
    animation: forwards 0.2s pop;
    transition: all 0.2s;
    background-color: rgb(70, 70, 70);
}
@keyframes pop{
    100%{
        transform: scale(1.1);
    }
}
.theme-dark .feature-2w65J5 {
    background-color: var(--background-secondary-alt);
    transition: all 0.2s;
}
.theme-dark .feature-2w65J5:hover {
    background-color: rgb(58, 58, 58);
}
.theme-dark .profileBadge-2niAfJ {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    cursor: pointer;
    width: 24px;
    transition: all 0.2s;
    height: 24px;
}
.theme-dark .profileBadge-2niAfJ:hover {
    transform: scale(0.8);
}
.theme-dark .closeButton-1tv5uR {
    border-color: #72767d;
}
.theme-dark .closeButton-1tv5uR:hover {
    background-color: rgb(248, 54, 54);
    border-color: rgb(248, 54, 54);
}
.theme-dark .childWrapper-anI2G9 {
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    background-color: #303030;
    color: var(--text-normal);
}
.theme-dark .embedSuppressButton-1FonMn {
    opacity: 0;
    position: absolute;
    top: -2px;
    right: -20px;
    cursor: pointer;
    padding: 2px;
    color: var(--interactive-normal);
}
.theme-dark .embedSuppressButton-1FonMn:hover{
    color: red;
}
.theme-dark .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    width: 100%;
    height: 28px;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--background-text-area);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--text-muted);
    text-align: left;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.2s;
    white-space: nowrap;
}
.theme-dark .searchBar-6Kv8R2 .searchBarComponent-32dTOx:hover{
    background-color: rgb(51, 51, 51);
}
.theme-dark .input-2VB9rf {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    padding: 0 12px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    height: 70px;
    line-height: 70px;
    background-color: var(--background-text-area);
    color: var(--text-normal);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}
.theme-dark .quickswitcher-3JagVE {
    position: relative;
    width: 570px;
    border-radius: 8px;
    padding: 20px 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    opacity: 0.9;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2), 0 0 0 1px rgba(28,36,43,.6);
    box-shadow: 0 2px 10px rgba(0,0,0,.2), 0 0 0 1px rgba(28,36,43,.6);
    background-color: var(--background-secondary);
    color: var(--text-normal);
}
.theme-dark .expandedFolderIconWrapper-Huv7rA {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2b2b2b;
}
.theme-dark .expandedFolderIconWrapper-Huv7rA:hover{
    background-color: #3f3f3f;
}
.theme-dark .closeIcon-rycxaQ:hover {
    color: red;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
    background-color: #1f1f1f;
}
.theme-dark .headerTop-3C2Zn0 {
    background-color: #181818;
}
.activity-11LB_k{
    background-color: #272727;
}
.activity-1ythUs{
    background-color: #272727;
}
.header-QKLPzZ{
    background-color: #181818;
}
.tabBarContainer-1s1u-z{
    background-color: #272727;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    color: rgb(161, 161, 161);
    border-color: #272727;
    background-color: #181818;
}
.textarea-2r0oV8:hover{
    background-color: #272727;
}
.textarea-2r0oV8:focus{
    background-color: #141414;
}
.withFrame-haYltI {
    height: 21px;
    margin-top: 4px;
}
.winButton-iRh8-Z {
    position: relative;
    top: -4px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    pointer-events: auto;
    -webkit-app-region: no-drag;
}
.modalContent-1T1Tix{
    background-color: var(--background-primary);
}
.theme-dark .footer-2gL1pp{
    background-color: var(--background-text-area);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #fff;
    background-color: rgb(29, 29, 29);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    color: #fff;
    background-color: rgb(75, 75, 75);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    color: #fff;
    background-color: rgb(28, 207, 28);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #f6f6f7;
    background-color: #525252;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    color: #f6f6f7;
    background-color: rgb(59, 59, 59);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active {
    color: #f6f6f7;
    background-color: rgb(238, 54, 54);
}
.actionIcon-PgcMM2 {
    color: var(--interactive-normal);
    transition: all 0.1s;
}
.actionIcon-PgcMM2:active{
    color: rgb(69, 108, 235);
}
.scroller-2hZ97C{
    background-color: var(--background-secondary);
}
.theme-dark .separator-2-RRj_{
    background-color: var(--background-text-area);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: #fff;
    border-color: #414141;
    transition: all 0.1s;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #fff;
    border-color: #292929;
    background-color: #292929;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    color: #fff;
    border-color: #292929;
    background-color: #555555;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
    color: #fff;
    border-color: #292929;
    background-color: #161616;
}
.close-hZ94c6 {
    height: 26px;
    padding: 4px;
    opacity: .5;
    cursor: pointer;
    border-radius: 3px;
    color: var(--interactive-normal);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.close-hZ94c6:hover{
    color: rgb(248, 54, 54);
}
.settingsContent-3Pxg5D{
    background-color: var(--background-primary);
}
.header-1TKi98{
    background-color: var(--background-text-area);
}
.content-1LAB8Z{
    background-color: var(--background-primary);
}
.perksModalContentWrapper-2HU6uL{
    background-color: var(--background-text-area);
}
.theme-dark .perksModal-fSYqOq {
    background-image: url(/assets/c486dc6….svg);
    background-color: var(--background-text-area);
}
.theme-dark .perk-2WeBWW{
    background-color: var(--background-tertiary);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.theme-dark .perk-2WeBWW:hover{
    background-color: rgb(65, 65, 65);
    transform: scale(1.1);
}
.theme-dark .perk-2WeBWW:active{
    background-color: rgb(46, 46, 46);
    transform: scale(1);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled{
    background-color: rgb(24, 24, 24);
}
.theme-dark .errorState-KkUH_2{
    background-color: var(--background-primary);
}
.noResults-ZTbl5V, .scroller-hUf6zQ{
    background-color: var(--background-secondary);
}
.footer-1eyGBa{
    background-color: var(--background-text-area);
}
.container-1giJp5{
    background-color: var(--background-text-area);
}
.quickSelectPopoutOption-opKBx9{
    background-color: var(--background-text-area);
}
.root-217Brm{
    background-color: var(--background-secondary);
}
.colorable-1bkp8v.red-33-Lnk.active-1QRrIS, .colorable-1bkp8v.red-33-Lnk:hover{
    background: rgb(158, 28, 28);
}
.unread-2lAfLh {
    position: absolute;
    height: 31px;
    width: 3px;
    border-radius: 4px 14px 14px 4px;
    top: 14%;
    left: 0px;
    margin-top: -4px;
}
.unread-2lAfLh{
    background-color: #7289DA;
}
.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE{
    color: #7289DA;
}
.modeConnected-3IsKId:hover .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId:hover .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90:hover .name-23GUGE{
    color: #c1cefd;
}
.modeSelected-346R90 .name-23GUGE{
    color: #fff;
}
.unreadMentionsBar-1Bu1dC{
    background-color: #7289DA;
}
.connectedAccount-36nQx7{
    transition: all 0.1s;
}
.connectedAccount-36nQx7:hover{
    background-color: rgb(56, 56, 56);
}
.resultsGroup-r_nuzN{
    background-color: var(--background-text-area);
}
.theme-dark .option-96V44q:after {
    background: var(--background-text-area);
}
.emojiSection-3Fb9ix{
    background: var(--background-text-area);
}
.guildSection-1EoFKd{
    background: var(--background-secondary);
}
.circleIconButton-1QV--U{
    color: rgb(148, 148, 148);
    background: var(--background-secondary);
}
.circleIconButton-1QV--U.selected-1JjBPm {
    color: #fff;
    background-color: rgb(66, 66, 66);
}
.circleIconButton-1QV--U:active{
    background-color: rgb(122, 122, 122);
}
.scroller-1d5FgU{
    background-color: var(--background-text-area);
}
.search-1iTphC .searchBox-2_mAlO{
    background-color: var(--background-text-area);
}
.theme-dark .card-3DjzTQ, .theme-dark .iconMask-3b8GzQ{
    background-color: var(--background-secondary);
}
.content-1LAB8Z{
    background-color: var(--background-text-area);
}
.footerTitle-2CYZch{
    color: #fff;
}
.container-UC8Ug1:hover{
    background-color: rgb(82, 82, 82);
}
.container-UC8Ug1{
    background-color: rgb(58, 58, 58);
}
.text-1FOLJS{
    color: #fff;
}
.container-UC8Ug1:active{
    background-color: rgb(126, 126, 126);
}
.title-3w8xhj{
    color: #fff;
}
.subtitle-Nw1LLR{
    color: rgb(163, 163, 163);
}
.templatesList-2E6rTe{
    margin-top: -1px;
}
.content-1LAB8Z{
    border-radius: 0;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV{
    color: #fff;
    background-color: rgb(59, 59, 59);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover{
    background-color: rgb(83, 83, 83);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:active{
    background-color: rgb(15, 85, 15);
}
.optionsList-3UMAjx {
    margin-top: 0px;
    padding: 0 16px 8px;
}
.title-LqAd9K{
    color: #fff;
}
.subtitle-1Q3BuX{
    color: rgb(163, 163, 163);
}
.skip-2o6MGG{
    color: rgb(163, 163, 163);
}
.backButton-iA7KIs{
    color: #fff;
}
.footer-2gL1pp {
    border-radius: 0 0 0px 0px;
}
